/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* Body */

body,
html{
	min-height:100%;
}

body{
	margin:1%;
	background: #000000;
	background-image: url("Images/milky-way-2695569_640.jpg");
	background-attachment:fixed;
	line-height:30px;
	background-repeat: round;

}

.wrapper{
	width: 85%;
	margin: 20px auto;
	max-width:925px;
}





/* Text */

			p{
			color: #ffe6cc;
			font-size: 21px;
			margin-top: 50px;
			margin-bottom: 50px;
			line-height:28px;

			}
			a{
			color: #8cffb1;
			font-size: 20px;
			margin-left: 15px;
			margin-right: 15px;
			}
			dt{
			color:#fc9003;;
			font-style: oblique;
			font-size: 30px

			}
			dd{
			color: white;
			font-weight: bold;
			letter-spacing:0.1em;
			word-spacing: .2em;
			font-size: 25px;
			padding-top: 30px;
			padding-bottom: 30px;
			-webkit-column-count: 2;
  			-moz-column-count: 2;
			column-count:2;
			line-height:35px;

			}


			li{
			color: #e6ffff;
			padding: 20px;
			font-size: 20px;
			}



			textarea,
			.name,
			.email{
			width: 50%;
			}

			header{
			padding: 45px 45px;
			color: red;
			}




/*Parts*/

			form{
			color: #ffe6cc;
			}

			article{
			padding-left:80px;
			background-color: #000000;
			padding: 50px;
			box-sizing: border-box;
			-moz-border-radius: 40px;
  			-webkit-border-radius: 40px;
  			border-radius: 40px;
			margin: 63px 5%;
			text-align: left;
  			-moz-box-shadow: 0 0 40px ;
  			-webkit-box-shadow: 0 0 40px #f2ff00;
  			box-shadow: 0 0 40px #f2ff00;
				font-family: Gill Sans, sans-serif;
				font-style: normal;
				font-weight:550;
			}

			nav{
			padding-top: 65px;

			}

			.nav{

			text-align: center;
			padding-top: 30px;
			padding-bottom: 30px;
			background-image: url("Images/sunrise-1756274_640.jpg");

			box-sizing: border-box;
			-moz-border-radius: 40px;
		  	-webkit-border-radius: 40px;
		  	border-radius: 40px;
		  	-moz-box-shadow: 0 0 40px ;
		  	-webkit-box-shadow: 0 0 40px #b603fc;
		  	box-shadow: 0 0 40px #b603fc;
			}

			footer{
			padding-top: 50px;
			padding-bottom: 50px;
			text-align: center;
			background-color: #000000;
			padding: 50px;
			box-sizing: border-box;
			-moz-border-radius: 40px;
  			-webkit-border-radius: 40px;
  			border-radius: 40px;

			}

			table{
			color: #ffffff;
			font-size: 17px;
			}




/*Classes*/

.review{
text-align: center;
}
.top{
text-align: center;
}

.terms{
color: yellow;
font-size: 35px;
padding-bottom:30px;
padding-top:30px;
}

.Pb{
color: #03bafc;
}
.spaceEvents{
font-size: 23px;
color: #ff3300;
text-align:center;
}
.one,
.two,
.three,
.four,
.five{
column-count: 1;
}
.enjoy{
color: #1abd1d;
}

.earth{
color:#1abd1d;
}

.reallyBig{
			-webkit-column-count: 2;
  		-moz-column-count: 2;
		column-count:2;
			}

.ref{
padding-bottom:20px;
}

.dub{
	text-align: center;
	color:#696969;
}

/* H's */


h1{
	color: #ff3300;
	font-size: 25px;
	text-align: left;
	position: fixed;
	top: 0px;
	left:0px;
	padding: 25px;
	margin: 0px;
	width: 100%;
	background-color: black;
	font-family: Gill Sans, sans-serif;
	font-style: normal;
	font-weight: 700;
}

h2{
	color: #0099ff;
	font-size: 35px;
	line-height:40px;
}

h3{
	color: #ff3300;
	font-size: 30px;
}

h4{
	color: #b3ffff;
	font-size: 25px;
	padding-top: 27px;
}

h5{
    color:red;
	font-size: 17px;
	-webkit-column-count: 2;
  			-moz-column-count: 2;
			column-count:2;
}





/* Pictures */
			figure{
			text-align: center;

			display: block;

			}
			figcaption{
			color: #ff8080;
			font-size: 18px;
			padding-top: 22px;
			-webkit-column-count: 2;
  			-moz-column-count: 2;
			column-count:2;

			}

			.spaceship{
			-moz-box-shadow: 0 0 40px #ff3300;
  			-webkit-box-shadow: 0 0 40px #ff3300;
  			box-shadow: 0 0 40px #ff3300;
  			-moz-border-radius: 85px;
  			-webkit-border-radius: 85px;
  			border-radius: 85px;
  			}

  			.space1{
			-moz-box-shadow: 0 0 40px #ff3300;
  			-webkit-box-shadow: 0 0 40px #ff3300;
  			box-shadow: 0 0 40px #ff3300;
  			-moz-border-radius: 150px;
  			-webkit-border-radius: 150px;
  			border-radius: 150px;
  			}

  			img{
  			max-width:100%;
  			}



/*Small device*/

@media only screen and (max-width: 890px) {

 	body {
  		background-color:black;
		background-attachment:fixed;
		}


	.one,
	.two,
	.three,
	.four,
	.five{
		font-size:20px;
		-webkit-column-count: 2;
  		-moz-column-count: 2;
		column-count:2;
		}
	li{
			color: #e6ffff;
			padding: 20px;
			font-size: 20px;
			-webkit-column-count: 1;
 			-moz-column-count: 1;
			column-count: 1;
			}

	dd{
			color: white;
			font-weight: bold;
			letter-spacing:0.1em;
			word-spacing: .2em;
			font-size: 25px;
			padding-top: 30px;
			padding-bottom: 30px;
			-webkit-column-count: 1;
 			-moz-column-count: 1;
			column-count: 1;
			}
figcaption{
			color: #ff8080;
			font-size: 18px;
			padding-top: 22px;
			-webkit-column-count: 2;
  			-moz-column-count: 2;
			column-count:2;

			}

		.reallyBig{
			-webkit-column-count: 1;
 			-moz-column-count: 1;
			column-count: 1;
			}

		h1{
	color: #ff3300;
	font-size: 40px;
	text-align: center;
	position: fixed;
	top: 0px;
	left:0px;
	padding: 25px;
	padding-left:25px;
	padding-right:25px;
	margin: 0px;
	width: 100%;
	background-color: black;
}
}

/*Smaller device*/

@media only screen and (max-width: 550px) {

	body {
  		background-color:black;
		background-attachment:fixed;
		}

	.one,
	.two,
	.three,
	.four,
	.five{
		font-size:20px;
		-webkit-column-count: 1;
 		-moz-column-count: 1;
		column-count:1;

		}

		li{
			color: #e6ffff;
			padding: 20px;
			font-size: 20px;
			-webkit-column-count: 1;
 			-moz-column-count: 1;
			column-count: 1;
			}

			dd{
			color: white;
			font-weight: bold;
			letter-spacing:0.1em;
			word-spacing: .2em;
			font-size: 25px;
			padding-top: 30px;
			padding-bottom: 30px;
			-webkit-column-count: 1;
 			-moz-column-count: 1;
			column-count: 1;
			}

		figcaption{
			color: #ff8080;
			font-size: 18px;
			padding-top: 22px;
			-webkit-column-count: 1;
  			-moz-column-count: 1;
			column-count:1;
			}

		h5{
    color:red;
	font-size: 17px;
	-webkit-column-count: 1;
 			-moz-column-count: 1;
			column-count: 1;
}

}
